*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size:14px;
}

body {
    width: 100%;
    min-height:100vh;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
}

.instagram-wrapper {
    display: flex;
    align-items:center;
    justify-content: start;
    width: 55%;
    height:100vh;
}

.instagram-phone{
    display: flex;
    align-items:center;
    justify-content:center;
    width:50%;
}

.instagram-phone img{
    height:55rem;
}

.instagram-container{
    display: flex;
    flex-direction:column;
    align-self: center;
    justify-content:space-around;
    width:45%;
    min-height:40rem;
}

.group {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    background-color: #FFFFFF;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid #DBDBDB;
}

.group:nth-child(1){
    min-height:20rem;

}

.instagram-logo {
    height: 3rem;
    margin-top: 1rem;
}
.forms-login {
    margin: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    margin-top: 3rem;

}
.forms-login form{
    width: 80%;
}
.forms-login form input{
    margin: 0;
    width: 100%;
    height: 2.8rem;
    margin-bottom: 0.3rem;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    overflow: hidden;
    padding:9px 0 7px 8px;
    text-overflow: ellipsis;
    
}

.forms-login form button{
    width: 100%;
    border: none;
    border-radius: 6px;
    background: #0095F6;
    margin-top: 0.5rem;

}
.forms-login form button p{
    padding: 10px 0 10px 0;
    color:#FFFFFF;
    font-weight: bold;

}

.facebook-login{
    font-weight: bold;
    margin-top: 15px;
    font-size:16px;
    color:#395996;
}

.login-recuperar{
    color: #141414;
    font-size: 12px;
    margin-top: 15px;
}


.not-account a{
    font-weight: bold;
    color:#0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.get-app{
    font-size: 16px;
}
.download {
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items:center;
    padding: 1rem 0;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.app-download:nth-child(1) {
    background-image: url('./../img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./../img/googleplay-button.png');
}